.main {
  flex: 0.5;
  border-right: 1px solid rgb(212, 212, 212);
  min-width: fit-content;
  overflow-y: scroll;
}
.main::-webkit-scrollbar {
  display: none;
}
.main {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.header {
  position: sticky;
  top: 0;
  background-color: white;
  border: 1px solid rgb(212, 212, 212);
  padding: 15px 20px;
  z-index: 100;
}
.header > h2 {
  font-size: 20px;
  font-weight: 800;
}
@media (orientation: landscape) and (max-width: 640px) {
  .main {
    border: none;
  }
  .header {
    border: none;
  }
}
@media (max-width: 600px) {
  .header {
    padding: 12px 20px;
  }
  .post-container {
    height: 100%;
  }
}
