.sidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebarOption_active {
  color: var(--twitter-color);
  display: flex;
  align-items: center;
  cursor: pointer;
}
.sidebarOption:hover {
  background-color: #e8f5fe;
  color: var(--twitter-color);
  transition: color 0.1s ease-out;
}

@media (min-width: 600px) and (max-width: 1000px) {
  .h2 {
    display: none;
  }
  .icon {
    padding-bottom: 20px;
  }
}
@media (min-width: 1000px) and (max-width: 1300px) {
  .h2 {
    display: none;
  }
  .icon {
    padding-bottom: 20px;
  }
}
