.tweetbox {
  border-bottom: 8px solid rgb(212, 212, 212);
  padding-bottom: 10px;
  padding-right: 10px;
}

.tweetbox > form {
  display: flex;
  flex-direction: column;
}
.tweetbox_input {
  display: flex;
  padding: 20px;
}
.tweetbox_input > input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
  outline: none;
}
.tweetbox_inputurl {
  border: none;
  padding: 10px;
  margin-left: 12px;
}
.tweetbox_tweet {
  background-color: var(--twitter-color);
  color: white;
  border: none;
  font-weight: 900;
  height: 50px;
  width: 20%;
  margin-top: 20px;
  margin-left: auto;
  border-radius: 30px;
  text-transform: inherit;
}
@media (orientation: landscape) and (max-width: 640px) {
  .tweetbox {
    display: none;
  }
}
@media (max-width: 600px) {
  .tweetbox {
    display: none;
  }
}
