body {
  --twitter-color: #50b7f5;
}
.app {
  display: flex;
  height: 100vh;

  margin-left: 72px;
  margin-right: 72px;
  padding: 0 10px;
}
@media (max-width: 600px) {
  .app {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }
}
@media (min-width: 600px) and (max-width: 1000px) {
  .app {
    padding: 0;
    margin-left: 52px;
  }
}
@media (min-width: 1000px) and (max-width: 1300px) {
  .app {
    margin-left: 16px;
    margin-right: 28px;
  }
}
