$spacing: (
  "xxxs": 4px,
  "xxs": 8px,
  "xs": 16px,
  "s": 12px,
  "m": 20px,
  "l": 28px,
  "xl": 32px,
  "xxl": 40px,
  "xxxl": 48px,
  "xxxxl": 52px,
  "xxxxxl": 72px,
);
$radius: (
  "xxs": 12px,
  "xs": 16px,
  "s": 20px,
  "m": 30px,
  "l": 48px,
  "xl": 96px,
);
$font: (
  "xs": 14px,
  "s": 20px,
  "m": 30px,
);
